/* Footer Styles */

@font-face {
    font-family: 'PPTelegrafRegular';
    src: url('./fonts/PPTelegraf-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PPTelegrafLight';
    src: url('./fonts/PPTelegraf-Ultralight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.footer {
    padding-top: 5%;
    padding-left: 2%;
    width: 100%;
    background-color: rgb(243, 242, 242); /* Background color for the footer */
    border-top: 1px solid rgba(65, 65, 65, 0.1); /* Thin border at the top */
  }
  
  .footer-content {
    background-color: rgb(243, 242, 242);
    height: 100%; /* This will make it fill the footer */
    display: flex;
    justify-content: flex-start;
  }

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: rgb(0, 0, 0);
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.icons {
    margin-top: 1%;
    margin-left: 1.2%;
}

/* Social Icons Styles */
.icon1, .icon2 {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.icon1-black {
    width: 2%; /* Adjust the size of the icons */
    height: auto;
    margin-top: 10%;
    position: absolute; /* Ensure the normal logo is in the same spot */
    opacity: 1;
}
  
.icon1-grey {
    width: 2%; /* Adjust the size of the icons */
    height: auto;
    margin-top: 10%;
    position: absolute; /* Ensure the normal logo is in the same spot */
    opacity: 0;
}

.icon2-black {
    width: 2%; /* Adjust the size of the icons */
    margin-left: 5%;
    margin-top: 10%;
    height: auto;
    position: absolute; /* Ensure the normal logo is in the same spot */
    opacity: 1;
}
  
.icon2-grey {
    width: 2%; /* Adjust the size of the icons */
    margin-left: 5%;
    margin-top: 10%;
    height: auto;
    position: absolute; /* Ensure the normal logo is in the same spot */
    opacity: 0;
}

/* Hover Effects */
.icon-1:hover .icon1-black {
  opacity: 0;
}

.icon-1:hover .icon1-grey {
  opacity: 1;
}

.icon-2:hover .icon2-black {
  opacity: 0;
}

.icon-2:hover .icon2-grey {
  opacity: 1;
}

.fill {
    color: transparent;
}

.words {
    margin-top: 5%;
    padding-bottom: 5%;
    width: 20%;
    margin-left: 0%;
}

.small-words {
    flex-direction: row;
    width: 150%
}

.small-titles {
    margin-left: 2%;
}

.small-title {
    font-family: 'PPTelegrafRegular', sans-serif;
    font-size: 110%;
}

.footer-button {
    background-color: transparent;
    font-family: 'PPTelegrafLight', sans-serif;
    color: #000000;
    border: none;
    font-size: 100%;
    padding: 0;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease, text-decoration-thickness 0.3s ease;
}

.footer-button:hover {
    text-decoration: underline;
    text-decoration-thickness: 1%;
    text-underline-offset: 4px;
}

.footer-words {
    background-color: transparent;
    font-family: 'PPTelegrafLight', sans-serif;
    color: #000000;
    border: none;
    font-size: 100%;
    padding: 0;
    text-decoration: none;
}

.footer-seperate {
    font-family: 'PPTelegrafLight', sans-serif;
    margin-left: 2%;
    margin-right: 3%;
}

.logo-black {
    position: absolute;
    opacity: 1;
    width: 7%;
    margin-left: 1.3%;
    margin-top: 0%;
}

.location-chunk {
    margin-top: 40%;
}
